/*
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24

* {
    border: 1px solid red;
}

/* Fonts:
    font-family: 'Pixelify Sans', cursive;
*/

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 29, 37);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

button {
    border: 4px solid rgb(241, 213, 152);
    border-radius: 3px;
    font-size: 25px;
    background-color: rgb(255, 244, 223);
}

.material-symbols-outlined {
  font-variation-settings: 'opsz' 100;
}

h1 {
    font-size: 90px;
    text-align: center;
    color: rgb(241, 213, 152);
    font-family: 'Pixelify Sans', cursive;
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pixel {
    background-color: white;
    width: 45px;
    height: 45px;
}

#toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

#canvas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 720px;
}

a {
    font-size: 20px;
}

