/*
font-variation-settings:
'FILL' 0,
'wght' 400,
'GRAD' 0,
'opsz' 24

* {
    border: 1px solid red;
}
*/

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 29, 37);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.material-symbols-outlined {
  font-variation-settings: 'opsz' 100;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: rgb(241, 213, 152);
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pixel16 {
    background-color: white;
    width: 45px;
    height: 45px;
}

.pixel32 {
    background-color: white;
    width: 22.5;
    height: 22.5;
}

#toolbar {
    display: flex;
    flex-direction: column;
    flex-shrink: 2;
}

#canvas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 720px;
}
